<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhitu.workshop.springbootdemo.dao.PhotoDao">
    <select id="showAllPhoto" resultType="com.zhitu.workshop.springbootdemo.bo.Photo">
        select * from photo p
        inner join album a on p.album_id=a.album_id
        where a.use_user_id=#{userID} and p.state='0' order by p.up_time desc
    </select>
    <select id="findPhotoByID" resultType="com.zhitu.workshop.springbootdemo.bo.Photo">
        select * from photo where photo_id=#{photoID}
    </select>
    <select id="showByAlbum" resultType="com.zhitu.workshop.springbootdemo.bo.Photo">
        select * from photo,album where album.use_user_id=#{userID} and album_id=#{albumID}
    </select>
    <delete id="deletePhotoById">
        delete from photo where photo_id=#{photoID}
    </delete>
    <insert id="insertPhoto" useGeneratedKeys="true"
            parameterType="com.zhitu.workshop.springbootdemo.bo.Photo" keyProperty="photoId" keyColumn="photo_id">
        insert into photo (album_id,photo_name,photo_description,up_time,love,state,size,lovenumber,photo_address)
        values (#{photo.albumId},#{photo.photoName},#{photo.photoDescription},#{photo.upTime},#{photo.love},#{photo.state},
        #{photo.size},#{photo.lovenumber},#{photo.photoAddress})
    </insert>

    <update id="delIntoRec">
          UPDATE photo set state = '1' where photo_id=#{photoID}
    </update>


</mapper>