<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhitu.workshop.springbootdemo.dao.RecycleBinDao">
    <insert id="delIntoRec" parameterType="com.zhitu.workshop.springbootdemo.bo.RecycleBin" useGeneratedKeys="true" keyProperty="fileId" keyColumn="file_id">
        insert into recycle_bin (user_id,delete_time,initial_time,object,recent_id,address,size,file_name)
        VALUES(#{re.userId},#{re.deleteTime},#{re.initialTime},#{re.object},#{re.recentId},
        (select photo_address from photo where photo_id=#{re.recentId}),
        (select size from photo where photo_id=#{re.recentId}),
        (select photo_name from photo where photo_id=#{re.recentId})
        )
    </insert>
    <select id="showFiles" resultType="com.zhitu.workshop.springbootdemo.bo.RecycleBin">
        select * from recycle_bin where user_id=#{userID}
    </select>
    <delete id="delPhoto">
        delete from recycle_bin where file_id=#{fileID}
    </delete>
    <select id="getAllFile" resultType="com.zhitu.workshop.springbootdemo.bo.RecycleBin">
        select * from recycle_bin where delete_time &lt;#{now}
    </select>
</mapper>
