<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhitu.workshop.springbootdemo.dao.UserDao">
    <!-->根据名字有条件查询  <-->
    <select id="selectUserByName" resultType="com.zhitu.workshop.springbootdemo.bo.User" parameterType="string">
        select * from user where user_name = #{name}
    </select>
    <!-->查询全部  <-->
    <select id="findAll" resultType="com.zhitu.workshop.springbootdemo.bo.User" parameterType="string">
        select * from user WHERE  user_id=#{id}
    </select>
    <!-->插入新数据  <-->
    <insert id="insertUser" useGeneratedKeys="true"  keyProperty="userId"  keyColumn="user_id"
            parameterType="com.zhitu.workshop.springbootdemo.bo.User">
        insert into user(user_name,password,email,phone,gender)
        value (#{user.userName},#{user.password},#{user.email},#{user.phone},#{user.gender})
    </insert>

</mapper>